.result-body {
  font-family: Georgia, serif;
  padding: 15px;
}

.contents {
  border: 1px solid black;
  width: 250px;
  padding: 5px;
  margin-bottom: 15px;
}

.contents-header,
.summary,
.category {
  padding-bottom: 20px;
}

.summary {
  padding-top: 25px;
}

h1 {
  font-size: 28pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 12pt;
}

.resources {
  padding: 5px;
  margin-bottom: 15px;
}

.score {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  border-radius: 50%;
}

.resources-links li {
  margin: 10px 0;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.score-container {

}

.score-color-div {
  float: left;
  width: 2%;
}

.score-copy {
  margin-left: 25px;
  width: 98%;
}

.store-name {
  margin-top: 20px;
}
