html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.home {
   display: flex;
    flex-direction: column; justify-content: center;
    align-items: center;
    height: 60vh;
}

.home .tagline {
  font-family: "HelveticaNeue-Light";
}

.home .logo {
  width: 350px;
  margin-bottom: 20px;
}

.home .footer {
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 13px 25px;
}

.home .footer a {
  font-family: "HelveticaNeue-Light";
  cursor: pointer;
  font-size: 13px;
  color: #777;
  padding: 0 10px;
}

.home-inner {
  min-width: 500px;
  max-width: 80vw;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home .search-container {
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.home .search-container #autocomplete {
  width: 100%;
  font-size: 18px;
  padding: 12px 15px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px #ccc;
  font-family: "HelveticaNeue-Light";
  outline: none;
}

.home button.login {
  border: 1px solid white;
  position: absolute;
  top: 1.0rem;
  right: 1.5rem;
  display: block;
  font-size: 13px;
  padding: 8px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none; 
  font-family: "HelveticaNeue-Medium";
  background-color: #82d762;
  font-weight: 300;
  color: white;
}

.home button.login:hover {
  box-shadow: 1px 1px 1px #ccc;
}
.home .search-container button.search {
  margin-top: 25px;
  display: block;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  outline: none; 
  border-radius: 2px;
  cursor: pointer;
  font-family: "HelveticaNeue-Medium";
  background-color: #f2f2f2;
  font-weight: 300;
  color: #757575;
  border: 1px solid white;
}

.home .search-container button:hover {
  border: 1px solid #ccc;
}

.autocomplete-suggestions { 
  border: 1px solid #eee; background: #FFF; overflow: auto; 
  font-family: "HelveticaNeue-Light";
  font-size: 20px;
  cursor: pointer;
}
.autocomplete-suggestion { 
padding: 10px 10px; white-space: nowrap; overflow: hidden; 
}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { 
font-weight: normal; color: #3399FF; 
}
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.search-icon {
  width: 30px;
  float: left;
  margin-right: 10px;
}
