body {
  font-family: Georgia, serif;
}

.hidden {
  opacity: 0;
}

.header {
  height: 60px;
  background-color: #52bad5;
  border-bottom: 2px solid #3f9db6;
  flex: 1;
}

.header .title {
  color: #a8deea;
  font-family: 'Source Sans Pro', sans-serif;

	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 23px;
	margin-left: 30px;
	letter-spacing: 4px;
  font-size: 1.1rem;
}
